# Dependencias y paquetes
node_modules/

# Logs
*.log
npm-debug.log*

# Archivos de build y reportes
coverage/
dist/
build/

# Archivos de entorno y secretos
.env
.env.*

# Archivos de Sistema Operativo y Editores
.DS_Store
.vscode/
.idea/